<template>
  <div class="hello">
    <div class="holder">

      <form @submit.prevent="addEmployee">
        <input
          type="text"
          placeholder="Insira um novo funcionário..."
          v-model="employee"
          v-validate="'min:5'"
          name="employee" />

        <transition name="alert-in" enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
          <p class="alert" v-if="errors.has('employee')">{{ errors.first('employee') }}</p>
        </transition>
      </form>

      <ul>
        <transition-group name="list" enter-active-class="animated bounceInUp" leave-active-class="animated bounceOutDown">
          <li v-for="(data, index) in employees" :key='index'>
            {{ data.employee }}
            <i class="fa fa-trash" v-on:click="remove(index)"></i>
            <i class="fa fa-edit" v-on:click="showEditingField(data.employee, index)"></i>
          </li>
        </transition-group>
      </ul>

      <p>Estes são os atuais funcionários cadastrados.</p>
    </div>
    <transition name="alert-in" enter-active-class="animated flipInX" leave-active-class="animated flipOutX">
      <div v-show="isEditing" class="edit-wrapper">
        <input type="text" v-model="editedEmployee">
        <button v-on:click="hasBeenEdited">Editar</button>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'People',
  data() {
    return {
      employee: '',
      isEditing: false,
      editedEmployee: '',
      editedEmployeeId: null,
      employees: [
        { "employee": "Josimar Bezerra"},
        { "employee": "Carla De Souza"}
      ]
    }
  },
  methods: {
    addEmployee() {
      this.$validator.validateAll().then((result) => {
        if (result) {
          this.employees.push({employee: this.employee})
          this.employee = '';
        } else {
          console.log('Not valid');
        }
      })
    },
    showEditingField(person, index) {
      this.editedEmployee = person;
      this.editedEmployeeId = index;
      this.isEditing = true;
    },
    hasBeenEdited() {
      this.employee = this.editedEmployee;
      this.employees[this.editedEmployeeId] = {employee: this.employee};
      this.employee = '';
      this.isEditing = false;
    },
    remove(id) {
      this.employees.splice(id,1);
    }
  }
}
</script>

<style scoped>
@import "https://cdn.jsdelivr.net/npm/animate.css@3.5.1";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";

  .holder {
    background: #fff;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul li {
    padding: 20px;
    font-size: 1.3em;
    background-color: lightyellow;
    border-left: 5px solid yellow;
    margin-bottom: 2px;
    color: #3E5252;
  }

  p {
    text-align:center;
    padding: 30px 0;
    color: gray;
  }

  .container {
    box-shadow: 0px 0px 40px lightgray;
  }

  input {
    width: calc(100% - 40px);
    border: 0;
    padding: 20px;
    font-size: 1.3em;
    background-color: #323333;
    color: #687F7F;
  }

  button {
    padding: 20px;
    height: 64px;
    color: #fff;
    font-size: 18px;
    background-color: #323333;
    border: none;
    margin-left: 16px;
    cursor: pointer;
  }

  .edit-wrapper {
    display: flex;
    align-items: center;
    padding: 16px;
    background-color: #fff;
  }

  .alert {
    background: #fdf2ce;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin-top: -20px;
  }

  .alert-in-enter-active {
    animation: bounce-in .5s;
  }
  .alert-in-leave-active {
    animation: bounce-in .5s reverse;
  }

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.fa-edit {
  margin-right: 16px;
}

i {
  float:right;
  cursor:pointer;
}

</style>
